.fontColorWhite {
  color: #fff;
}
.fontColorBlack {
  color: #000;
}

.buttonCommon {
  background-color: transparent;
  border: none;
}

/* ---------- */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #000;
}
.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.bookTitle {
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
}
.author {
  margin-top: 20px;
  font-size: 16px;
}

.infoContainer {
  width: 80%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  width: 100%;
}

/* .linkButton {
  position: relative;
  font-size: 18px;
  cursor: pointer;
} */
.linkButton {
  position: absolute;
  right: 14px;
  bottom: 20px;
  padding: 5px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  transition: box-shadow 0.2s;
}
.linkButton:hover {
  box-shadow: 0px 0px 0px 0px transparent;
}

.linkButtonWhite {
  border: 4px solid #fff;
  box-shadow: 5px 5px 0px 0px hsl(0, 0%, 100%);
}
.linkButtonBlack {
  border: 4px solid #000000;
  box-shadow: 5px 5px 0px 0px hsl(0, 0%, 0%);
}

.rankCircle {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  background-color: #0000006e;
}
